@{
    ViewBag.Title = "Father";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>搜闻天下后台管理系统</title>
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/Css/jquery.autocomplete.css" rel="stylesheet" />
    <link href="~/Content/summernote/summernote.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/ckform.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/myModal.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/summernote/summernote.min.js"></script>
    <style>
        * {
            font-size: 12px;
            padding: 0;
            margin: 0;
        }

        .form-group {
            float: none;
            clear: both;
        }

        .table tbody tr:hover {
            background-color: #eee;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>

