@model SouNews.DB.Menu

<body>
    @using (Ajax.BeginForm("MenuEdit", "System", new { @class = "form-horizontal" }, new AjaxOptions { UpdateTargetId = "updateTargetId", HttpMethod = "Post", OnSuccess = "OnSuccessAjax", OnBegin = "OnBeginAjaxBeginForm", OnComplete = "OnCompleteAjaxBeginForm", OnFailure = "OnFailureAjaxBeginForm" })) {
        @Html.Partial("MenuAddOrEdit", Model);
    }
</body>

