@model SouNews.DB.Power
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">权限名称</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">路径</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.path, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
