@model SouNews.DB.Role

<body>
    @using (Ajax.BeginForm("RoleAdd", "System", new { @class = "form-horizontal" }, new AjaxOptions { UpdateTargetId = "updateTargetId", HttpMethod = "Post", OnSuccess = "OnSuccessAjax", OnBegin = "OnBeginAjaxBeginForm", OnComplete = "OnCompleteAjaxBeginForm", OnFailure = "OnFailureAjaxBeginForm" })) {
        @Html.Partial("RoleAddOrEdit", Model);
    }
</body>

