@model SouNews.DB.Users

<body>
    @using (Ajax.BeginForm("UserAdd", "System", new { @class = "form-horizontal" }, new AjaxOptions { UpdateTargetId = "updateTargetId", HttpMethod = "Post", OnSuccess = "OnSuccessAjax", OnBegin = "OnBeginAjaxBeginForm", OnComplete = "OnCompleteAjaxBeginForm", OnFailure = "OnFailureAjaxBeginForm" })) {
        @Html.Partial("UserAddOrEdit", Model);
    }
</body>

