@model SouNews.DB.Article

<body>
    @using (Ajax.BeginForm("ArticleAdd", "News", new { @class = "form-horizontal" }, new AjaxOptions { UpdateTargetId = "updateTargetId", HttpMethod = "Post", OnSuccess = "OnSuccessAjax", OnBegin = "OnBeginAjaxBeginForm", OnComplete = "OnCompleteAjaxBeginForm", OnFailure = "OnFailureAjaxBeginForm" })) {
        @Html.Partial("ArticleAddOrEdit", Model);
    }
</body>
